.CATEGORIES__text{
    margin-left: -10px;
    margin-bottom: 30px;
    overflow: hidden;
}
#CATEGORIES img{
    width: 100%;
}
.CATEGORIES__content {
    /* background-color: var(--hoverColor-two); */
    border-radius: 5px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.CATEGORIES__img{
    overflow: hidden;
}
.CATEGORIES__img img {
    transform: scale(1);
    transition: .6s;
    overflow: hidden;
}
.CATEGORIES__content:hover img {
    transform: scale(1.1);
}
.CATEGORIES h5{
    font-size: 16px;
    font-weight: 400;
    /* color: var(--secoundColor); */
    margin-top: 20px;
    margin-left: 10px;
    transition: all .3s;
}
.CATEGORIES__content:hover h5{
    color: var(--mainColor);
}